body {
    background-color:black;
    font-family:arial;
    color:white
}
h1{
    color:grey;
    font-family:verdana
}
.maindiv{
    background-color:white;
    color:black;
    width:700px;
    padding:20px;
    border-radius:25px;
    align:center
}
.resultdiv{
    background: #ffff99;
    color: #000000
}
